/*

.nav-inline-dropdown {
	width: 100vw;
}

.nav-inline-li {
	padding: 30px;
	margin: 30px;
}
*/

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	min-height: 100px;
	
}

.navbar-nav {
	@include screen-ltmd {
		margin-bottom: 0px;
	}
}

.navbar-default {
	background-color: $white;
    border: 0px solid transparent;
}

.navbar-brand {
	margin-left: 0px;
	transition: $transition;
	&:hover, &:active, &:focus {
		opacity: 0.75;
	}
	img {
		height: 65px;
	}
}

.navbar-header {
	@include screen-ltmd {
		height: 90px;
	}
}

.navbar-toggle {
	margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}

/*
.navbar-collapse {
	box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, .5);
}
*/


.navbar-right {
	margin-top: 25px;	
}

.divider-before {
	&:before {
		content: "|";
	}
	@include screen-ltmd {
		&:before {
			content: "";
		}
	}		
}




.nav > li.dropdown.open {
    position: static;
   
}
.nav > li.dropdown.open .dropdown-menu {
    display:flex; 
    width: 100%; 
    text-align: left; 
    left:0; 
    right:0;
    top: 78px;
    margin-top: 10px;
    background-color: $blue;
    color: #ffffff;
    z-index: 9999;
    padding-top: 12px;
    
    @include screen-ltmd {
	    text-align: left;
	    display: initial;
    }
    &:after {
		width: 0px;
	    height: 0px;
	    position: absolute;
	    top: 0%;
	    right: 235px;;
	    content: '';
	    transform: translate(0%, -100%);
	    border-left: 0px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 19px solid $blue;
    }
    
}


.dropdown-menu>li {
    display: flex; // or inline-block
    flex-direction: column;
    //justify-content: space-around;
    width: 20%;
    @include screen-ltmd {
	    display: initial;
	    float: left;
	    width: 100%;
    }
}

.navbar-default .navbar-nav>li>a {
	@include screen-ltmd {
		color: $white;
	}
}

.navbar-default .navbar-nav>.open>a {
	color: $blue;
	background-color: transparent;
	transition: $transition;
}

/*
nav .open .dropdown-menu>li>a {
	@include screen-ltmd {
    padding: 5px 15px 0px 25px;
    }
}
*/

.nav-link {
	font-size: 1.25em;
		@include screen-ltmd {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: lighten($blue, 10%);
	}
}

.nav>li>a {
	display: inline-block;
	@include screen-ltmd {
		display: block;
	}
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: $blue;
	@include screen-ltmd {
		color: $white;
	}

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: $blue;
	@include screen-ltmd {
		color: $white;
	}
}



.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: initial;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: $blue;
	@include screen-ltmd {
		color: $offwhite;
	}
}

.dropdown-menu {
	border: none;
	border-radius: 0px;
	box-shadow: none;
	
}


.nav-img-link {
	transition: $transition;
	&:hover {
		opacity: 0.60	;
	}
	@include screen-ltmd {
		float: left;
		margin-bottom: 175px;
	}
}



.nav-img-container {
	height: 85px;
	overflow: hidden;
	@include screen-ltmd {
		float: left;
		width: 100px;
		height: 100px;
		overflow: hidden;
		
	}
}



.nav-img {
	width: 100%;
	height: auto;
	@include screen-ltmd {
		height: 100%;
		width: initial;
	}
}

.nav-class-title {
	white-space: pre-wrap;
	text-transform: uppercase;
	color: #ffffff;
}

.nav-address-container {
	padding: 10px 20px 0px;
	
	p {
		margin-bottom: 0px;
		line-height: 1.4;
		font-size: 1.1em;
	}
	@include screen-ltmd {
		width: 50%;
		float: left;
		//margin-left: 130px;
		padding: 10px 10px 0px;
	}
}

.nav-map {
	display: block;
	color: #ffffff;
	transition: $transition;
	&:hover, &:active, &:focus {
		color: $offwhite;
	}
}



.nav-text-container {
	padding: 10px 20px 0px;
	flex: 1;
	//margin-bottom: 2.0em;
	@include screen-ltmd {
		float: left;
		margin-left: 0px;
		margin-bottom: 10px;
		padding: 0px 10px 0px;
	}
	@include screen-sm {
		width: 70%;
	}
	@include screen-ltmd {
		width: 50%;
	}
}

.nav-dropdown-buttons {
	align-self: flex-end;
	width: 100%;
	@include screen-ltmd {
		float: left;
		width: 50%;
		//margin-left: 130px;
	}
}

.nav-details-btn {
	margin: 10px 0px;
	display: block;
	padding: 10px 12px;
	text-transform: uppercase;
	text-align: center;
	@include big-button($white, $blue);
	@include screen-ltmd {
		display: inline-block !important;
	}
}

.nav-register-btn {
	margin: 10px 0px;
	display: block;
	padding: 10px 12px;
	text-transform: uppercase;
	text-align: center;
	@include big-button-2($white, $blue);
	@include screen-ltmd {
		display: inline-block;
	}
}


.navbar-default .navbar-toggle {
	border-color: transparent;
	transition: $transition;
	margin: 25px; 
	&:hover {
		background-color: $white;
		.icon-bar {
			background-color: $silver;
		}
	}
	&:focus {
		background-color: $white;
		.icon-bar {
			background-color: $silver;
		}
		
	}
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: $blue;
    width: 30px;
    height: 3px;
    
    
}


.navbar-collapse {
	@include screen-ltmd {
	background-color: $blue;
	color: $white;
	}
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    
    .navbar-brand {
    	margin-left: 0px !important;
    }
    
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-collapse.collapse {
        display: none!important;
        
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-nav .open .dropdown-menu {
	    position: static !important;
    }
    
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	    margin-left: -15px;
	    margin-right: -15px;
    }
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}