.modal {
	padding-right: 0px;
	padding-top: 10%;
	//top: 20%;
	left: 0px;
	right: 40px;
	.container {
		.row {
			margin-left: -30px;
			margin-right: -30px;
		}
	}
	@include screen-xs {
		padding-left: 15px;
		padding-right: 15px;
		right: 0px;
		margin-left: 15px;
		margin-right: 15px;
	}
}

.modal-backdrop {
   background-color: $silver;
   opacity: 0.75 !important; 
}


.modal-content {
	background-color: $blue;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	color: $white;
	height: 70vh;
	margin: 0px;
	overflow-y: auto;
	h4 {
		color: $white;		
	}
	li a {
		color: $white;
		border-bottom: 1px dotted $white;
		font-family: $scalasans-regular;
	}
	@include screen-xs {
		height: auto;
	}
	
}





.modal-flex-wrapper {
	display: flex;
}

.modal-body {
	padding: 0px 30px 30px;
	h4 {
		margin-top: 30px;
	}
}

.modal-header {
    padding: 15px 30px;
    border-bottom: none;
}

.modal-title {
	float: left;
	margin-top: 15px;
	width: 85%;
}

.modal-header .close {
	float: right;
    margin-top: -3px;
    margin-right: -15px;
}


.close {
	opacity: 0.75;
	&:hover {
		opacity: 1.0;
	}
	svg {
		fill: $white;
		height: 25px;
		width: 25px;
		font-size: 30px;
		font-weight: 300;
	}
}

.modal-dialog {
	position: absolute;
	right: -3px;  //-5px
	width: initial;
    margin: 0px 0px 60px 4px;
    width: calc(100% + 4px);
    @include screen-xxs {
	    width: 100%;
	    right: 0px !important;
	    padding-left: 15px;
    }
    @include screen-xs {
	    right: 0px !important;
	    padding-left: 15px;
    }
}

.modal-img-container {
	
	img {
		margin-top: 0px;
		margin-left: 18px;
		@include screen-xs {
			margin-left: 0px;
		}	
	}
	.speaker-img {
		@include screen-xxs {
		min-width: 330px;
		max-width: 330px;
		}
	}
	.col-xs-12 {
		@include screen-xs {
			padding-right: 0px;
		}
	}
	
}

.collection_object-modal-btn {
	width: 100%;
	overflow: hidden;
}

.collection_object-modal-img {
	width: 100%;
	height: auto;
}

.collection_object-modal-img-container {
	height: auto;
	//overflow: hidden;
	flex: 1;
	.col-sm-6 {
		@include screen-xs {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.collection_object-modal-dialog-wrapper {
	//height: 70vh;
	//overflow-y: scroll;
	flex: 1;
	@include screen-xs {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.collection_object-modal-dialog {
	right: 0px;
	@include screen-xs {
		right: 0px !important;
		margin: 0px 0px 60px 0px;
		width: 100%;
	}
	
}

.collection_object-overlay {
	height: 100%;
	width: calc(100% - 30px);
	position: absolute;
	//visibility: initial;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 0px;
	background-color: rgba(0,0,0,.75);
	z-index: 998;
	transition: $transition;
	p {
		color: $white;
		padding: 0px 30px;
		
	}
	button {
		@include big-button($white, $black);
		text-transform: uppercase;
		background-color: transparent;
		margin-top: 20px;
		padding: 6px 12px;
		
	}
	
}

/*
.btn-show {
	visibility: initial;
}
*/

.collection_object-block {
	position: relative;
}