.about-page {
	background-color: $white;
}

.about-video-slider-container {
	background-color: $gray;
	padding-top: 60px;
}

/*
.about-video-slider-wrapper {
	display: flex;
	 .slick-slider {
	    margin-bottom: -6px;
    }

	
}
*/

.about-video-slider {
	display: flex !important;
	margin-bottom: -6px;
}

.slick-dots {
	position: absolute;
	bottom: 8px;
	right: 354px;
	display: block;
	width: initial;
	padding: 0;
	list-style: none;
	text-align: center;
	//z-index: 300;
	li {
		margin: 0px;
	}
}
	
.slick-dots li button:before {
	font-size: 12px;
	color: $silver;
	opacity: 0.75;
}
	
.slick-dots li.slick-active button:before {
	color: $red;
	opacity: 1.0;
}


.about-video-container-right {
	padding: 15px;
	background-color: $white;
	margin-left: -2px;
	height: 320px;
}

.video-description-container {
	position: relative;
	height: 62%;
	overflow: hidden;
	padding-right: 25px;
}

.no-video {
	height: 320px;
	width: 100%;
	display: flex !important;
	align-items: center;
	background-color: $white;
}

.no-video-wrapper {
	position: relative;
	width: 65%;
	margin: 0 auto;
}


.resources-section {
	padding-top: 60px;
}

.resources-block {
	background-color: $gray;
	padding: 30px;
	margin-bottom: 15px;
	overflow: auto;
	display: flex;
	p {
		margin-top: 5px;
	}
}

.resources-block-quiz {
	background-color: $blue;
	color: $white;
	padding: 30px;
	margin-bottom: 15px;
	overflow: auto;
	display: flex;
	p {
		margin-top: 5px;
	}

}

.resources-quiz-download-btn {
	@include big-button($white, $blue);
	font-family: $gotham-bold;
	padding: 10px 25px;
	text-transform: uppercase;

}

.resources-description {
	padding-bottom: 20px;
}

.resources-title {
	font-size: 1.5em;
	padding-right: 10px;
	display: inline;
}

.resources-download-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resources-download-btn {
	@include big-button($blue, $white);
	font-family: $gotham-bold;
	padding: 10px 25px;
	text-transform: uppercase;
}

.useful {
	text-decoration: underline;
	padding-right: 10px;
}

.file-type {
	display: inline;
	font-size: 1.10em;
}