.classes-page {
	background-color: $white;

	.nav>li>a:focus, .nav>li>a:hover {
		background-color: transparent;
	}
	
	.nav>li.active {
		a {
			opacity: 1.0;
		}
	}
}

body {
	position: relative;

}

.classes-subnav {
	background-color: rgba(15, 15, 15, 0.85);
	padding: 5px 0px 5px 80px;
	position: absolute;
	width: calc(100% - 50px);
	z-index: 9990;
	li {
		display: inline-block;
		padding: 0px 20px;
		a {
			color: $white;
			opacity: 0.5;
			transition: $transition;
			&:hover, &:active, &:focus {
				opacity: 1.0;
			}
			&:visited {
				opacity: 0.5;
				color: $white;
			}
		}
	}
	
}

.no-top-padding {
	padding-top: 0px;
}

.affix {
		top: 0px;
		position: fixed;
	}
	
.classes-speaker-section {
	padding-top: 60px;
	h3 {
		margin-bottom: 30px;
	}
}

.classes-speakers-wrapper {
	margin: 30px -15px;
}

.classes-collection-wrapper {
	margin: 30px -15px;
/*
	margin-left: -15px;
	margin-right: -15px;
*/
}