.classes-page {
	background-color: $white;

	.nav>li>a:focus, .nav>li>a:hover {
		background-color: transparent;
	}
	
	.nav>li.active {
		a {
			opacity: 1.0;
		}
	}
}

body {
	position: relative;

}

.classes-subnav {
	background-color: rgba(15, 15, 15, 0.85);
	padding: 0px 0px 0px 80px;
	position: absolute;
	width: calc(100% - 50px);
	z-index: 9990;
	li {
		display: inline-block;
		padding: 0px 10px;
		a {
			color: $white;
			opacity: 0.5;
			transition: $transition;
			&:hover, &:active, &:focus {
				opacity: 1.0;
			}
			&:visited {
				opacity: 0.5;
				color: $white;
			}
		}
	}
	
}

.no-top-padding {
	padding-top: 0px;
}

.affix {
		top: 0px;
		position: fixed;
	}
	
.classes-speaker-section {
	padding-top: 60px;
	h3 {
		margin-bottom: 30px;
		@include screen-xs {
			padding-left: 20px;
			
		}
	}
}

#summary {
	.no-padding {
		@include screen-xs {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.classes-sidebar {
	padding-left: 60px;
	margin-top: -14px;
	@include screen-md {
		padding-left: 40px;
	}
	@include screen-sm {
		padding-left: 30px;
	}
	@include screen-xs {
		padding-left: 20px;
		padding-top: 30px;
	}
}

.classes-registration-btn {
	@extend .front-btn;
	margin-top: 23px;
	margin-bottom: 20px;
}


.classes-speakers-wrapper {
	margin: 30px -15px;
	@include screen-ltlg {
		margin: 30px 15px;
	}
}

.classes-collection-section {
	.no-padding {
		@include screen-xs {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}


.classes-collection-wrapper {
	margin: 30px -15px;

}




.class-city {
	&:after {
		content: ', ';
	}
}

.classes-sidebar {
	p {
		margin-bottom: 0px;
	}
	h4 {
		&:last-of-type {
			padding-top: 13px;
		}
			
	}
}