a {
	&:hover {
		text-decoration: none;
		
	}
}

.bold {
	font-family: $gotham-bold;
}

.underline {
	text-decoration: underline;
}

.no-left-padding {
	padding-left: 0px;
}

.no-padding {
	padding: 0px;
}

.dashed-line {
	border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.dashed-line-white {
	@extend .dashed-line;
	border-bottom-color: $white;
}

.dashed-line-silver {
	@extend .dashed-line;
	border-bottom-color: $silver;
}

.section-border {
	border-bottom: 1px solid $gray;
}


