@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  	url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic/Gotham-BlackItalic.otf') format('opentype'),    
  	url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gotham-BlackItalic/Gotham-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-BlackItalic/sGotham-BlackItalic.svg') format('svg'); /* Legacy iOS */  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black/Gotham-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Black/Gotham-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  	url('../fonts/Gotham-Black/Gotham-Black.otf') format('opentype'),    
  	url('../fonts/Gotham-Black/Gotham-Black.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Gotham-Black/Gotham-Black.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gotham-Black/Gotham-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-Black/Gotham-Black.svg') format('svg'); /* Legacy iOS */  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Gotham-Bold/Gotham-Bold.otf') format('opentype'),  
    url('../fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-Bold/Gotham-Bold.svg') format('svg'); /* Legacy iOS */  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.otf') format('opentype'), 
    url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-BoldItalic/Gotham-BoldItalic.svg') format('svg'); /* Legacy iOS */  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Gotham-Book/Gotham-Book.otf') format('opentype'),   
    url('../fonts/Gotham-Book/Gotham-Book.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gotham-Book/Gotham-Book.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-Book/Gotham-Book.svg') format('svg'); /* Legacy iOS */  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('./fonts/Gotham-BookItalic/Gotham-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Gotham-BookItalic/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Gotham-BookItalic/Gotham-BookItalic.otf') format('opentype'),   
    url('../fonts/Gotham-BookItalic/Gotham-BookItalic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Gotham-BookItalic/Gotham-BookItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gotham-BookItalic/Gotham-BookItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-BookItalic/Gotham-BookItalic.svg') format('svg'); /* Legacy iOS */  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Gotham-Medium/Gotham-Medium.otf') format('opentype'),   
    url('../fonts/Gotham-Medium/Gotham-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Gotham-Medium/Gotham-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Gotham-Medium/Gotham-Medium.svg') format('svg'); /* Legacy iOS */  
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'ScalaSans-Regular';
	src: url('./fonts/ScalaSans-Regular/ScalaSans-Regular.eot'); /* IE9 Compat Modes */
	src: url('./fonts/ScalaSans-Regular/ScalaSans-Regular.oft') format('opentype'),
	 url('../fonts/ScalaSans-Regular/ScalaSans-Regular.woff2') format('woff2'), /* Modern Browsers */
     url('../fonts/ScalaSans-Regular/ScalaSans-Regular.woff') format('woff'), /* Modern Browsers */
     url('../fonts/ScalaSans-Regular/ScalaSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'ScalaSans-Bold';
	src: url('./fonts/ScalaSans-Bold/ScalaSans-Bold.eot'); /* IE9 Compat Modes */
	src: url('./fonts/ScalaSans-Bold/ScalaSans-Bold.oft') format('opentype'),
	 url('../fonts/ScalaSans-Bold/ScalaSans-Bold.woff2') format('woff2'), /* Modern Browsers */
     url('../fonts/ScalaSans-Bold/ScalaSans-Bold.woff') format('woff'), /* Modern Browsers */
     url('../fonts/ScalaSans-Bold/ScalaSans-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

// only otf and wofff2 available for ScalaSans-Italic
@font-face {
	font-family: 'ScalaSans-Italic';	
	src: url('./fonts/ScalaSans-Italic/ScalaSans-Italic.oft') format('opentype'),
	 url('../fonts/ScalaSans-Italic/ScalaSans-Italic.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}




body {
	font-family: $gotham-book;
	background-color: $offwhite;
	padding-left: 25px;
	padding-right: 25px;
	@include screen-ltmd {
		padding-left: 0px;
		padding-right: 0px;
	}
}

main {
	background-color: $gray;
}

h1 {
	font-size: 4.5em;
	font-family: $scalasans-bold;
	text-shadow: 0 5px 10px rgba(0,0,0,0.5);
}


h2 {
	font-size: 2.0em;
	font-family: $gotham-bold;	
}

h3 {
	font-size: 1.35em;
	color: $blue;
	font-family: $gotham-bold;
	padding-top: 10px;
	padding-bottom: 5px;
}

h4 {
	font-size: 1.25em;
	color: $red;
	font-family: $gotham-bold;
	padding-top: 10px;
	padding-bottom: 5px;
}

h5 {
	font-size: 1.25em;
	font-family: $scalasans-bold;
}

h2, h3, h4 {
	text-transform: uppercase;
}


p {
	font-size: 1.25em;
	font-family: $scalasans-regular;
	line-height: 1.8;
}

p:empty {
	display: none;
}

section {
	padding-top: 60px;
	padding-bottom: 60px;
}

blockquote {
	border: none;
}

blockquote p {
	font-family: $scalasans-italic;
	font-size: 2.25em;
	line-height: 1.6;
	@include screen-md {
		font-size: 1.65em;
	}
	@include screen-sm {
		font-size: 1.25em;
	}
}

blockquote footer {
	background-color: transparent;
	padding: initial;
	border: none;
}

blockquote .small:before, blockquote footer:before, blockquote small:before {
	content: '';
}

.lead {
	font-family: $scalasans-italic;
	font-size: 2.35em;
}

a {
	color: initial;
}



