main {
  overflow-x: hidden; }

a:hover, a:focus {
  text-decoration: none; }

p a, .extend-p a {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  text-decoration: none;
  transition: all 0.5s ease-in-out; }
  p a:hover, .extend-p a:hover, p a:focus, .extend-p a:focus {
    color: #134984; }

hr {
  margin-top: 40px;
  margin-bottom: 40px; }

.bold {
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; }

:focus {
  outline: none; }

.underline {
  text-decoration: underline; }

.no-left-padding {
  padding-left: 0px; }

.no-padding {
  padding: 0px; }

.dashed-line, .dashed-line-white, .dashed-line-silver {
  border-bottom-width: 1px;
  border-bottom-style: dotted; }

.dashed-line-white {
  border-bottom-color: #ffffff; }

.dashed-line-silver {
  border-bottom-color: #b0b7bc; }

.section-border {
  border-bottom: 1px solid #d1d3d4; }

.text-link {
  font-weight: 700; }

/** WP WYSIWYG editor styles **/
img.alignright {
  float: right;
  margin: 0 0 1em 1em; }
  @media (max-width: 767px) {
    img.alignright {
      margin-left: 0px;
      width: 100%;
      height: auto; } }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }
  @media (max-width: 767px) {
    img.alignleft {
      margin-right: 0px;
      width: 100%;
      height: auto; } }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption-text {
  font-size: 1em;
  padding: 5px 3px; }

.alignleft.wp-caption {
  margin-right: 20px; }

.alignright.wp-caption {
  margin-left: 20px; }

@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic/Gotham-BlackItalic.otf") format("opentype"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.woff2") format("woff2"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.woff") format("woff"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.ttf") format("truetype"), url("../fonts/Gotham-BlackItalic/sGotham-BlackItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Black';
  src: url("../fonts/Gotham-Black/Gotham-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Black/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Black/Gotham-Black.otf") format("opentype"), url("../fonts/Gotham-Black/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black/Gotham-Black.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.otf") format("opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/Gotham-Bold.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.otf") format("opentype"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.woff2") format("woff2"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.woff") format("woff"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.ttf") format("truetype"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book/Gotham-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book/Gotham-Book.otf") format("opentype"), url("../fonts/Gotham-Book/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/Gotham-Book.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("./fonts/Gotham-BookItalic/Gotham-BookItalic.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/Gotham-BookItalic/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.otf") format("opentype"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.woff2") format("woff2"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.ttf") format("truetype"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium/Gotham-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium/Gotham-Medium.otf") format("opentype"), url("../fonts/Gotham-Medium/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium/Gotham-Medium.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ScalaSans-Regular';
  src: url("./fonts/ScalaSans-Regular/ScalaSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/ScalaSans-Regular/ScalaSans-Regular.oft") format("opentype"), url("../fonts/ScalaSans-Regular/ScalaSans-Regular.woff2") format("woff2"), url("../fonts/ScalaSans-Regular/ScalaSans-Regular.woff") format("woff"), url("../fonts/ScalaSans-Regular/ScalaSans-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ScalaSans-Bold';
  src: url("./fonts/ScalaSans-Bold/ScalaSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/ScalaSans-Bold/ScalaSans-Bold.oft") format("opentype"), url("../fonts/ScalaSans-Bold/ScalaSans-Bold.woff2") format("woff2"), url("../fonts/ScalaSans-Bold/ScalaSans-Bold.woff") format("woff"), url("../fonts/ScalaSans-Bold/ScalaSans-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ScalaSans-Italic';
  src: url("./fonts/ScalaSans-Italic/ScalaSans-Italic.oft") format("opentype"), url("../fonts/ScalaSans-Italic/ScalaSans-Italic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Gotham-Book", Helvetica, Arial, sans-serif;
  background-color: #f1f1f2;
  padding-left: 25px;
  padding-right: 25px; }
  @media (max-width: 991px) {
    body {
      padding-left: 0px;
      padding-right: 0px; } }

main {
  background-color: #d1d3d4; }

b, strong {
  font-family: "ScalaSans-Bold", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 4.5em;
  font-family: "ScalaSans-Bold", Helvetica, Arial, sans-serif;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

h2 {
  font-size: 2.0em;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; }

h3 {
  font-size: 1.35em;
  color: #134984;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 5px; }

h4 {
  font-size: 1.25em;
  color: #aa2d3e;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 5px; }

h5 {
  font-size: 1.25em;
  font-family: "ScalaSans-Bold", Helvetica, Arial, sans-serif; }

h2, h3, h4 {
  text-transform: uppercase; }

p, .extend-p {
  font-size: 1.25em;
  font-family: "ScalaSans-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.8; }

p:empty, .extend-p:empty {
  display: none; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }

blockquote {
  border: none; }

blockquote p, blockquote .extend-p {
  font-family: "ScalaSans-Italic", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  line-height: 1.6; }
  @media (min-width: 992px) and (max-width: 1199px) {
    blockquote p, blockquote .extend-p {
      font-size: 1.65em; } }
  @media (min-width: 768px) and (max-width: 991px) {
    blockquote p, blockquote .extend-p {
      font-size: 1.25em; } }

blockquote footer {
  background-color: transparent;
  padding: initial;
  border: none; }

blockquote .small:before, blockquote footer:before, blockquote small:before {
  content: ''; }

.lead {
  font-family: "ScalaSans-Italic", Helvetica, Arial, sans-serif;
  font-size: 2.35em; }

a {
  color: initial; }

/*

.nav-inline-dropdown {
	width: 100vw;
}

.nav-inline-li {
	padding: 30px;
	margin: 30px;
}
*/
.nav-inline-li {
  display: block;
  float: none; }

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  min-height: 100px; }

@media (max-width: 991px) {
  .navbar-nav {
    margin-bottom: 0px; } }

.navbar-default {
  background-color: #ffffff;
  border: 0px solid transparent; }

.navbar-brand {
  margin-left: 0px;
  transition: all 0.5s ease-in-out; }
  .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    opacity: 0.75; }
  .navbar-brand img {
    height: 65px; }

@media (max-width: 991px) {
  .navbar-header {
    height: 90px; } }

.navbar-toggle {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 25px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

/*
.navbar-collapse {
	box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, .5);
}
*/
.navbar-right {
  margin-top: 25px; }

.divider-before:before {
  content: "|";
  color: #ccc;
  padding: 0px 10px; }
@media (max-width: 991px) {
  .divider-before:before {
    content: "";
    padding: 0px; } }

.nav > li.dropdown.open {
  position: static; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent; }

.nav > li.dropdown.open .dropdown-menu {
  display: flex;
  width: 100%;
  text-align: left;
  left: 0;
  right: 0;
  top: 78px;
  margin-top: 10px;
  background-color: #134984;
  color: #ffffff;
  z-index: 9999;
  padding-top: 12px;
  padding-bottom: 12px; }
  @media (max-width: 991px) {
    .nav > li.dropdown.open .dropdown-menu {
      text-align: left;
      display: block; } }
  .nav > li.dropdown.open .dropdown-menu:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    right: 255px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 19px solid #134984; }
  .nav > li.dropdown.open .dropdown-menu .nav-img-link {
    background-color: transparent !important; }

.dropdown-menu > li {
  display: flex;
  flex-direction: column;
  width: 20%; }
  @media (max-width: 991px) {
    .dropdown-menu > li {
      display: initial;
      float: left;
      width: 100%; } }

li.dropdown {
  display: block; }

.navbar-default .navbar-nav > li > a {
  transition: all 0.5s ease-in-out; }
  @media (max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
      color: #ffffff; } }

.navbar-default .navbar-nav > .open > a {
  color: #134984;
  background-color: transparent;
  transition: all 0.5s ease-in-out; }

/*
nav .open .dropdown-menu>li>a {
	@include screen-ltmd {
    padding: 5px 15px 0px 25px;
    }
}
*/
.nav-link {
  font-size: 1.25em; }
  @media (max-width: 991px) {
    .nav-link {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #1962b1; } }

.nav > li > a {
  display: inline-block; }
  @media (max-width: 991px) {
    .nav > li > a {
      display: block; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #134984; }
  @media (max-width: 991px) {
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
      color: #ffffff; } }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #134984; }
  @media (max-width: 991px) {
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      color: #ffffff; } }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: initial; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #134984;
  box-shadow: 0px 3px 0px transparent;
  transform: translate(0px, -3px); }
  @media (max-width: 991px) {
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      color: #f1f1f2; } }

.dropdown-menu {
  border: none;
  border-radius: 0px;
  box-shadow: none; }

.nav-img-link {
  transition: all 0.5s ease-in-out; }
  .nav-img-link:hover {
    opacity: 0.6; }
  @media (max-width: 991px) {
    .nav-img-link {
      float: left;
      margin-bottom: 175px; } }

.nav-img-container {
  height: 82px;
  overflow: hidden; }
  @media (max-width: 991px) {
    .nav-img-container {
      float: left;
      width: 100px;
      height: 100px;
      overflow: hidden; } }

.nav-img {
  width: 100%;
  height: auto; }
  @media (max-width: 991px) {
    .nav-img {
      height: 100%;
      width: initial; } }

.nav-class-title {
  white-space: pre-wrap;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.5s ease-in-out; }
  .nav-class-title:hover, .nav-class-title:focus, .nav-class-title:active {
    opacity: 0.65; }

.nav-address-container {
  padding: 10px 20px 0px; }
  .nav-address-container p, .nav-address-container .extend-p {
    margin-bottom: 0px;
    line-height: 1.4;
    font-size: 1.1em; }
  @media (max-width: 991px) {
    .nav-address-container {
      width: 50%;
      float: left;
      padding: 10px 10px 0px; } }
  .nav-address-container a {
    transition: all 0.5s ease-in-out; }
    .nav-address-container a:hover, .nav-address-container a:active, .nav-address-container a:focus {
      opacity: 0.65; }

.nav-map {
  display: block;
  color: #ffffff; }

.nav-text-container {
  padding: 10px 20px 0px;
  flex: 1 0 125px; }
  @media (max-width: 991px) {
    .nav-text-container {
      float: left;
      margin-left: 0px;
      margin-bottom: 10px;
      padding: 0px 10px 0px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .nav-text-container {
      width: 70%; } }
  @media (max-width: 991px) {
    .nav-text-container {
      width: 50%; } }

.nav-dropdown-buttons {
  align-self: flex-end;
  width: 100%; }
  @media (max-width: 991px) {
    .nav-dropdown-buttons {
      float: left;
      width: 50%; } }

.nav-details-btn {
  margin: 10px 0px;
  display: block;
  padding: 10px 12px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.5s ease-in-out;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px; }
  .nav-details-btn:link {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff; }
  .nav-details-btn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    fill: #134984;
    text-decoration: none; }
  .nav-details-btn:hover svg {
    fill: #134984;
    left: 5px; }
  .nav-details-btn:active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    box-shadow: none; }
  .nav-details-btn:active svg {
    fill: #134984;
    left: 5px; }
  .nav-details-btn:focus, .nav-details-btn:active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    outline: 5px auto #ffffff; }
  .nav-details-btn:focus, .nav-details-btn:active:focus svg {
    fill: #134984;
    left: 5px; }
  .nav-details-btn:visited {
    background-color: #ffffff;
    border-color: #ffffff; }
  @media (max-width: 991px) {
    .nav-details-btn {
      display: inline-block !important; } }

.nav-register-btn {
  margin: 10px 0px;
  display: block;
  padding: 10px 12px;
  text-transform: uppercase;
  text-align: center;
  color: #134984;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  /*
  	&:visited {
  		background-color: $color_1;
  		border-color: $color_1;
  		color: $color_2;
  	}
  */ }
  .nav-register-btn:link {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984; }
  .nav-register-btn:hover {
    background-color: #134984;
    border-color: #ffffff;
    color: #ffffff;
    text-decoration: none; }
  .nav-register-btn:hover svg {
    fill: #134984;
    left: 5px; }
  .nav-register-btn:active {
    background-color: #134984;
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: none; }
  .nav-register-btn:active svg {
    fill: #134984;
    left: 5px; }
  .nav-register-btn:focus, .nav-register-btn:active:focus {
    background-color: #134984;
    border-color: #ffffff;
    color: #ffffff;
    outline: 5px auto #134984; }
  .nav-register-btn:focus, .nav-register-btn:active:focus svg {
    fill: #134984;
    left: 5px; }
  @media (max-width: 991px) {
    .nav-register-btn {
      display: inline-block; } }

.navbar-default .navbar-toggle {
  border-color: transparent;
  transition: all 0.5s ease-in-out;
  margin: 25px; }
  .navbar-default .navbar-toggle:hover {
    background-color: #ffffff; }
    .navbar-default .navbar-toggle:hover .icon-bar {
      background-color: #b0b7bc; }
  .navbar-default .navbar-toggle:focus {
    background-color: #ffffff; }
    .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: #b0b7bc; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #134984;
  width: 30px;
  height: 3px; }

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #134984;
    color: #ffffff; } }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-brand {
    margin-left: 0px !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-nav {
    float: none !important;
    margin: 0px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-nav .open .dropdown-menu {
    position: static !important; }

  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: -15px;
    margin-right: -15px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 991px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }
footer {
  background-color: #ffffff;
  border-top: 1px solid #f1f1f2;
  padding: 30px 0px; }
  footer img {
    width: 250px;
    height: auto; }

.footer-logo-wrapper {
  display: flex;
  justify-content: center; }

.footer-logo-link {
  transition: all 0.5s ease-in-out; }
  .footer-logo-link:hover, .footer-logo-link:active, .footer-logo-link:active:focus {
    opacity: 0.75; }

.address-block {
  margin: 10px auto;
  list-style-type: none;
  font-family: "ScalaSans-Regular", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #b0b7bc;
  padding-left: 0px; }

.footer-links {
  text-align: center;
  padding-left: 0px; }
  .footer-links li {
    display: inline-block;
    padding: 0px 5px; }
    .footer-links li a {
      color: #b0b7bc;
      border-bottom: 1px dotted #b0b7bc;
      transition: all 0.5s ease-in-out; }
      .footer-links li a:hover, .footer-links li a:focus, .footer-links li a:active {
        color: #879199;
        border-color: #879199; }

.modal {
  padding-right: 0px;
  padding-top: 10%;
  left: 0px;
  right: 40px; }
  .modal .container .row {
    margin-left: -30px;
    margin-right: -30px; }
  @media (max-width: 767px) {
    .modal {
      padding-left: 15px;
      padding-right: 15px;
      right: 0px;
      margin-left: 15px;
      margin-right: 15px; } }

.modal-backdrop {
  background-color: #b0b7bc;
  opacity: 0.75 !important; }

.modal-content {
  background-color: #134984;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  color: #ffffff;
  height: 70vh;
  margin: 0px;
  overflow-y: auto; }
  .modal-content h4 {
    color: #ffffff; }
  .modal-content a {
    color: #ffffff;
    transition: all 0.5s ease-in-out; }
    .modal-content a:hover, .modal-content a:active, .modal-content a:focus {
      color: #ffffff;
      opacity: 0.65; }
  .modal-content li a {
    color: #ffffff;
    border-bottom: 1px dotted #ffffff;
    font-family: "ScalaSans-Regular", Helvetica, Arial, sans-serif; }
  @media (max-width: 767px) {
    .modal-content {
      height: auto; } }

.modal-flex-wrapper {
  display: flex; }

.modal-body {
  padding: 0px 30px 30px; }
  .modal-body h4 {
    margin-top: 30px; }

.modal-header {
  padding: 15px 30px;
  border-bottom: none; }

.modal-title {
  float: left;
  margin-top: 15px;
  width: 85%; }

.modal-header .close {
  float: right;
  margin-top: -3px;
  margin-right: -15px; }

.close {
  opacity: 0.75; }
  .close:hover {
    opacity: 1.0; }
  .close svg {
    fill: #ffffff;
    height: 25px;
    width: 25px;
    font-size: 30px;
    font-weight: 300; }

.modal-dialog {
  position: absolute;
  right: -3px;
  width: initial;
  margin: 0px 0px 60px 4px;
  width: calc(100% + 4px); }
  @media (max-width: 480px) {
    .modal-dialog {
      width: 100%;
      right: 0px !important;
      padding-left: 15px; } }
  @media (max-width: 767px) {
    .modal-dialog {
      right: 0px !important;
      padding-left: 15px; } }

.modal-img-container img {
  margin-top: 0px;
  margin-left: 18px; }
  @media (max-width: 767px) {
    .modal-img-container img {
      margin-left: 0px; } }
@media (max-width: 480px) {
  .modal-img-container .speaker-img {
    min-width: 330px;
    max-width: 330px; } }
@media (max-width: 767px) {
  .modal-img-container .col-xs-12 {
    padding-right: 0px; } }

.collection_object-modal-btn {
  width: 100%;
  overflow: hidden; }

.collection_object-modal-img {
  width: 100%;
  height: auto; }

.collection_object-modal-img-container {
  height: auto;
  flex: 1; }
  @media (max-width: 767px) {
    .collection_object-modal-img-container .col-sm-6 {
      padding-left: 0px;
      padding-right: 0px; } }

.collection_object-modal-dialog-wrapper {
  flex: 1; }
  @media (max-width: 767px) {
    .collection_object-modal-dialog-wrapper {
      padding-left: 0px;
      padding-right: 0px; } }

.collection_object-modal-dialog {
  right: 0px; }
  @media (max-width: 767px) {
    .collection_object-modal-dialog {
      right: 0px !important;
      margin: 0px 0px 60px 0px;
      width: 100%; } }

.collection_object-overlay {
  height: 100%;
  width: calc(100% - 30px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 998;
  transition: all 0.5s ease-in-out;
  display: none; }
  .collection_object-overlay p, .collection_object-overlay .extend-p {
    color: #ffffff;
    padding: 0px 30px; }
  .collection_object-overlay button {
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: all 0.5s ease-in-out;
    font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    margin-top: 20px;
    padding: 6px 12px; }
    .collection_object-overlay button:link {
      background-color: transparent;
      border-color: #ffffff;
      color: #ffffff; }
    .collection_object-overlay button:hover {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #231F20;
      fill: #231F20;
      text-decoration: none; }
    .collection_object-overlay button:hover svg {
      fill: #231F20;
      left: 5px; }
    .collection_object-overlay button:active {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #231F20;
      box-shadow: none; }
    .collection_object-overlay button:active svg {
      fill: #231F20;
      left: 5px; }
    .collection_object-overlay button:focus, .collection_object-overlay button:active:focus {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #231F20;
      outline: 5px auto #ffffff; }
    .collection_object-overlay button:focus, .collection_object-overlay button:active:focus svg {
      fill: #231F20;
      left: 5px; }
    .collection_object-overlay button:visited {
      background-color: #ffffff;
      border-color: #ffffff; }

/*
.btn-show {
	visibility: initial;
}
*/
.collection_object-block {
  position: relative; }
  .collection_object-block h4 {
    line-height: 1.4; }

.homepage-hero {
  height: 500px;
  background: #134984;
  background-image: url("http://blog.schooloutfitters.com/wp-content/uploads/2014/06/one-room-schoolhouse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .homepage-hero h1 {
    color: #ffffff;
    font-size: 70px; }
    @media (max-width: 767px) {
      .homepage-hero h1 {
        font-size: 50px;
        padding-left: 20px; } }
  .homepage-hero h4 {
    color: white; }
    @media (max-width: 767px) {
      .homepage-hero h4 {
        padding-left: 20px; } }

@media (max-width: 767px) {
  .forcing-auto-width {
    width: auto; } }

.front-video-container, .front-video-container-no-media {
  background-color: #ffffff;
  height: 100%;
  margin-top: -175px;
  padding-left: 0px;
  display: flex; }
  @media (max-width: 991px) {
    .front-video-container, .front-video-container-no-media {
      display: inline-block;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #d1d3d4; } }

.front-video-container-no-media {
  display: block;
  padding: 30px; }
  @media (max-width: 991px) {
    .front-video-container-no-media {
      display: blcok;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #ffffff; } }

.front-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0px;
  height: 0; }

.front-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.front-image {
  background-color: #134984;
  border-radius: 0px !important;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0; }

@media (max-width: 991px) {
  .front-video-container-left {
    margin-top: -30px; } }

.front-video-container-right {
  padding: 15px; }
  @media (max-width: 991px) {
    .front-video-container-right {
      background-color: #ffffff; } }

.videoWrapper {
  position: static;
  width: 100%;
  height: initial;
  background-color: #000; }
  .videoWrapper43 {
    padding-top: 75%; }
  .videoWrapper169 {
    padding-top: 100%; }

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  background-color: #231F20;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s; }
  .videoPoster:after {
    content: 'Watch Course Preview';
    text-transform: uppercase;
    padding: 18px 20px;
    height: 50px;
    background-color: #ffffff;
    font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #134984; }
  .videoPoster:hover:before, .videoPoster:focus:before {
    border-color: #f00; }
  .videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #f00; }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms; }

.front-class-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0 -1.5%; }
  @media (max-width: 991px) {
    .front-class-block-container {
      display: initial; } }

.class-block {
  width: 30.33%;
  margin: 20px 1.5%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .class-block {
      width: 90%;
      margin: 50px auto; } }

.class-top {
  display: block;
  top: 0;
  position: relative;
  box-shadow: 0 5px 0 transparent;
  transition: all 0.5s;
  flex: none; }
  .class-top img {
    width: 100%;
    height: auto; }

.class-block-text {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(123, 123, 123, 0.5);
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  padding: 20px; }

.single-class-date, .single-class-title {
  margin: 0px; }

.single-class-title {
  text-transform: uppercase; }

.speaker-list {
  padding-left: 0px;
  display: inline; }
  .speaker-list li {
    display: inline-block; }
    .speaker-list li:last-of-type:before {
      content: ' and moderator ';
      font-family: "ScalaSans-Regular", Helvetica, Arial, sans-serif;
      font-size: 1.25em; }
    .speaker-list li:last-of-type:after {
      content: '. ';
      border-bottom: none; }
    .speaker-list li:after {
      content: ", ";
      border-bottom: none; }
    .speaker-list li a {
      font-family: "ScalaSans-Bold", Helvetica, Arial, sans-serif;
      font-size: 1.25em;
      color: #231F20;
      border-bottom: 1px dotted #231F20; }

.speaker-name {
  margin-right: -3px; }

.class-description-container {
  background-color: #ffffff;
  padding: 20px;
  -ms-flex: none !important;
  flex: 1; }
  .class-description-container p, .class-description-container .extend-p {
    display: inline; }

.class-button-container {
  padding: 0px 20px 20px; }

.front-btn-container {
  display: flex;
  justify-content: space-between; }

.front-btn, .classes-registration-btn {
  width: 45%;
  margin: 10px 0px;
  display: inline-block;
  padding: 10px 12px;
  text-transform: uppercase;
  text-align: center;
  color: #134984;
  border: 2px solid #134984;
  transition: all 0.5s ease-in-out;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px; }
  .front-btn:link, .classes-registration-btn:link {
    background-color: transparent;
    border-color: #134984;
    color: #134984; }
  .front-btn:hover, .classes-registration-btn:hover {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .front-btn:hover svg, .classes-registration-btn:hover svg {
    fill: #ffffff;
    left: 5px; }
  .front-btn:active, .classes-registration-btn:active {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    box-shadow: none; }
  .front-btn:active svg, .classes-registration-btn:active svg {
    fill: #ffffff;
    left: 5px; }
  .front-btn:focus, .classes-registration-btn:focus, .front-btn:active:focus, .classes-registration-btn:active:focus {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    outline: 5px auto #134984; }
  .front-btn:focus, .classes-registration-btn:focus, .front-btn:active:focus svg, .classes-registration-btn:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  .front-btn:visited, .classes-registration-btn:visited {
    background-color: #134984;
    border-color: #134984; }
  .front-btn:only-child, .classes-registration-btn:only-child {
    width: 100%; }

.mlk-section {
  padding-bottom: 0px; }
  @media (max-width: 767px) {
    .mlk-section {
      display: none; } }

.mlk-img-container {
  position: relative; }

.mlk-img {
  width: 100%;
  height: auto; }

.mlk-quote {
  display: flex;
  width: 50%;
  position: absolute;
  top: 0px;
  left: 100px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff; }
  .mlk-quote p, .mlk-quote .extend-p {
    padding-top: 85px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .mlk-quote {
      left: 65px;
      top: -10px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .mlk-quote {
      left: 50px;
      bottom: -32px; } }

.sponsor-section {
  background-color: #ffffff; }

.sponsor-heading {
  text-align: center; }

.sponsor-container, .pew-container {
  display: flex;
  padding: 0px;
  margin: 0 -1.5%; }

.sponsor-container {
  flex-wrap: wrap;
  justify-content: center; }

.pew-container {
  align-items: center; }
  @media (max-width: 991px) {
    .pew-container {
      display: initial; } }

.sponsor-block, .pew-block {
  margin-bottom: 30px;
  width: 17%;
  margin: 20px 1.5%;
  transition: all 0.5s ease-in-out; }
  .sponsor-block img, .pew-block img {
    width: 100%;
    height: auto; }
  @media (max-width: 991px) {
    .sponsor-block, .pew-block {
      width: 50%; } }
  .sponsor-block:hover, .pew-block:hover, .sponsor-block:focus, .pew-block:focus, .sponsor-block:active, .pew-block:active {
    opacity: 0.65; }

.pew-block {
  width: auto; }
  @media (max-width: 991px) {
    .pew-block {
      margin: 0 auto;
      width: 50%; } }

.pew-credit {
  padding: 25px; }
  @media (max-width: 991px) {
    .pew-credit {
      width: 70%;
      margin: 0px auto; } }

.speakers-hero {
  height: 350px;
  background: #134984;
  background-image: url("http://blog.schooloutfitters.com/wp-content/uploads/2014/06/one-room-schoolhouse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .speakers-hero h1 {
    color: #ffffff;
    font-size: 70px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .speakers-hero h1 {
        font-size: 55px; } }
    @media (max-width: 767px) {
      .speakers-hero h1 {
        font-size: 50px;
        padding-left: 30px; } }
  .speakers-hero h4 {
    color: #ffffff; }
    @media (max-width: 767px) {
      .speakers-hero h4 {
        padding-left: 30px; } }

.speaker-section {
  padding-top: 40px; }

.speaker-block {
  margin-bottom: 30px;
  height: 300px;
  position: relative;
  transition: all 0.5s ease-in-out; }
  .speaker-block h4 {
    text-transform: uppercase;
    color: #ffffff;
    padding: 0px 20px 20px 20px; }
  .speaker-block:hover, .speaker-block:active, .speaker-block:focus:active {
    opacity: 0.75;
    box-shadow: 0px 4px 0px transparent;
    transform: translate(0px, -5px); }
  @media (max-width: 1199px) {
    .speaker-block {
      overflow: hidden; } }
  @media (max-width: 991px) {
    .speaker-block {
      padding: 0px; } }
  @media (max-width: 767px) {
    .speaker-block {
      height: 400px; } }
  @media (max-width: 480px) {
    .speaker-block {
      height: 300px; } }
  @media (max-width: 767px) {
    .speaker-block button {
      width: 100%; } }

.collection_object-block {
  margin-bottom: 30px;
  height: 300px;
  position: relative;
  transition: all 0.5s ease-in-out;
  /*
  	&:hover, &:active, &:focus:active {
  		.collection_object-overlay {
  			display: none;
  			z-index: 0;
  		}
  		.collection_object-modal-btn {
  			z-index: 999;
  		}
  		.collection_object-img {
  			opacity: 1.0;
  		}
  	}
  */ }
  .collection_object-block h4 {
    text-transform: uppercase;
    color: #ffffff;
    padding: 0px 20px 20px 20px; }
  @media (max-width: 767px) {
    .collection_object-block {
      overflow: hidden; } }

.moderator:after {
  content: 'moderator';
  position: absolute;
  top: 0px;
  left: 35px;
  background-color: #aa2d3e;
  color: #ffffff;
  padding: 8px 12px;
  text-transform: uppercase;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  font-size: 0.9em; }

.speaker-img {
  width: auto;
  height: 300px; }
  @media (max-width: 480px) {
    .speaker-img {
      min-width: 345px;
      height: auto; } }
  @media (max-width: 767px) {
    .speaker-img {
      width: 100%;
      height: auto; } }

.collection_object-img {
  width: auto;
  height: 300px; }
  .collection_object-img:hover, .collection_object-img:actve, .collection_object-img:focus {
    opacity: 1.0; }
  @media (max-width: 767px) {
    .collection_object-img {
      width: 100%;
      height: auto; } }
  @media (max-width: 480px) {
    .collection_object-img {
      height: 100%;
      width: auto; } }

.speaker-block-text {
  display: flex;
  position: absolute;
  top: 0px;
  width: 300px;
  left: 15px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff; }
  .speaker-block-text h5 {
    margin-left: 20px; }
  .speaker-block-text p, .speaker-block-text .extend-p {
    margin: 0px 0px 5px 20px; }
    .speaker-block-text p:last-of-type, .speaker-block-text .extend-p:last-of-type {
      margin-bottom: 15px; }
  @media (max-width: 767px) {
    .speaker-block-text {
      width: 100%; } }
  @media (max-width: 991px) {
    .speaker-block-text {
      left: 0px; } }

.object-block-text {
  display: flex;
  position: absolute;
  top: 0px;
  width: calc(100% - 30px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff; }
  .object-block-text h5 {
    margin-left: 20px;
    margin-bottom: 15px; }

button[data-toggle="modal"] {
  text-align: left;
  background-color: transparent;
  padding: 0px;
  border: none; }

.about-page {
  background-color: #ffffff; }

@media (max-width: 767px) {
  .about-content-section .no-padding {
    padding-left: 20px;
    padding-right: 20px; } }

.about-video-slider-container {
  background-color: #d1d3d4;
  padding-top: 60px; }
  @media (max-width: 767px) {
    .about-video-slider-container .no-padding {
      padding-left: 20px;
      padding-right: 20px; } }

/*
.about-video-slider-wrapper {
	display: flex;
	 .slick-slider {
	    margin-bottom: -6px;
    }

	
}
*/
.about-video-slider {
  display: flex !important;
  margin-bottom: -6px; }
  @media (max-width: 767px) {
    .about-video-slider {
      display: initial !important; } }

.slick-slider {
  margin-bottom: 0px; }

.slick-dots {
  position: absolute;
  bottom: 8px;
  right: 347px;
  display: block;
  width: initial;
  padding: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    margin: 0px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .slick-dots {
      right: 280px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .slick-dots {
      right: 200px; } }
  @media (max-width: 767px) {
    .slick-dots {
      right: initial;
      position: relative;
      bottom: 50px;
      text-align: left;
      padding-left: 20px; } }

.slick-dots li button:before {
  font-size: 12px;
  color: #b0b7bc;
  opacity: 0.75; }

.slick-dots li.slick-active button:before {
  color: #aa2d3e;
  opacity: 1.0; }

@media (max-width: 767px) {
  iframe {
    width: 100%; } }

.about-video-container-right {
  padding: 15px 22px;
  background-color: #ffffff;
  margin-left: -2px;
  height: 320px; }
  @media (max-width: 767px) {
    .about-video-container-right h3 {
      padding-left: 20px; } }
  @media (max-width: 767px) {
    .about-video-container-right {
      margin-top: -6px; } }

.video-description-container {
  position: relative;
  height: 62%;
  overflow: hidden;
  padding-right: 25px; }
  @media (max-width: 767px) {
    .video-description-container {
      padding-left: 20px;
      padding-right: 20px; } }

.no-video {
  height: 320px;
  width: 100%;
  display: flex !important;
  align-items: center;
  background-color: #ffffff; }
  @media (max-width: 767px) {
    .no-video {
      height: 100%; } }

.no-video-wrapper {
  position: relative;
  width: 65%;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .no-video-wrapper {
      padding: 20px; } }

.resources-section {
  padding-top: 60px; }
  @media (max-width: 767px) {
    .resources-section .no-padding {
      padding-left: 20px;
      padding-right: 20px; } }
  .resources-section:before {
    content: normal; }
  .resources-section:after {
    content: normal; }

.resources-block {
  background-color: #d1d3d4; }
  @media (max-width: 480px) {
    .resources-block .col-sm-9 {
      flex: 1; } }

.resources-block-quiz {
  background-color: #134984;
  color: #ffffff; }
  @media (max-width: 480px) {
    .resources-block-quiz .col-sm-9 {
      flex: 1; } }

.resources-block, .resources-block-quiz {
  padding: 20px;
  margin-bottom: 15px;
  overflow: auto;
  display: flex; }
  .resources-block p, .resources-block .extend-p, .resources-block-quiz p, .resources-block-quiz .extend-p {
    margin: 0px;
    font-size: 1.15em;
    line-height: 1.4; }
    .resources-block p:last-of-type, .resources-block .extend-p:last-of-type, .resources-block-quiz p:last-of-type, .resources-block-quiz .extend-p:last-of-type {
      font-style: italic; }
  @media (max-width: 767px) {
    .resources-block, .resources-block-quiz {
      justify-content: space-between; } }

.resources-quiz-download-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.5s ease-in-out;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  padding: 10px 25px;
  text-transform: uppercase; }
  .resources-quiz-download-btn:link {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff; }
  .resources-quiz-download-btn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    fill: #134984;
    text-decoration: none; }
  .resources-quiz-download-btn:hover svg {
    fill: #134984;
    left: 5px; }
  .resources-quiz-download-btn:active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    box-shadow: none; }
  .resources-quiz-download-btn:active svg {
    fill: #134984;
    left: 5px; }
  .resources-quiz-download-btn:focus, .resources-quiz-download-btn:active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    outline: 5px auto #ffffff; }
  .resources-quiz-download-btn:focus, .resources-quiz-download-btn:active:focus svg {
    fill: #134984;
    left: 5px; }
  .resources-quiz-download-btn:visited {
    background-color: #ffffff;
    border-color: #ffffff; }

/*
.resources-quiz-download-btn.hidden-lg {
	padding: 15px;
}
*/
.resources-description {
  padding-bottom: 20px; }

.resources-title {
  font-size: 1.60em !important;
  padding: 0px 10px 5px 0px;
  display: inline-block; }

.resources-download-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px; }

.resources-download-btn {
  color: #134984;
  border: 2px solid #134984;
  transition: all 0.5s ease-in-out;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  padding: 10px 25px;
  text-transform: uppercase; }
  .resources-download-btn:link {
    background-color: transparent;
    border-color: #134984;
    color: #134984; }
  .resources-download-btn:hover {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .resources-download-btn:hover svg {
    fill: #ffffff;
    left: 5px; }
  .resources-download-btn:active {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    box-shadow: none; }
  .resources-download-btn:active svg {
    fill: #ffffff;
    left: 5px; }
  .resources-download-btn:focus, .resources-download-btn:active:focus {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    outline: 5px auto #134984; }
  .resources-download-btn:focus, .resources-download-btn:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  .resources-download-btn:visited {
    background-color: #134984;
    border-color: #134984; }

.resources-download-btn.hidden-lg {
  padding: 15px; }

.resources-quiz-download-btn.hidden-lg {
  padding: 15px; }

.useful {
  text-decoration: underline;
  padding-right: 10px; }

.file-type {
  display: inline;
  font-size: 1.10em; }

.classes-page {
  background-color: #ffffff; }
  .classes-page .nav > li > a:focus, .classes-page .nav > li > a:hover {
    background-color: transparent; }
  .classes-page .nav > li.active a {
    opacity: 1.0; }

body {
  position: relative; }

.classes-subnav {
  background-color: rgba(15, 15, 15, 0.85);
  padding: 0px 0px 0px 80px;
  position: absolute;
  width: calc(100% - 50px);
  z-index: 9990; }
  .classes-subnav li {
    display: inline-block;
    padding: 0px 10px; }
    .classes-subnav li a {
      color: #ffffff;
      opacity: 0.5;
      transition: all 0.5s ease-in-out; }
      .classes-subnav li a:hover, .classes-subnav li a:active, .classes-subnav li a:focus {
        opacity: 1.0; }
      .classes-subnav li a:visited {
        opacity: 0.5;
        color: #ffffff; }

.no-top-padding {
  padding-top: 0px; }

.affix {
  top: 0px;
  position: fixed; }

.classes-speaker-section {
  padding-top: 60px; }
  .classes-speaker-section h3 {
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .classes-speaker-section h3 {
        padding-left: 20px; } }

@media (max-width: 767px) {
  #summary .no-padding {
    padding-left: 20px;
    padding-right: 20px; } }

.classes-sidebar {
  padding-left: 60px;
  margin-top: -14px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .classes-sidebar {
      padding-left: 40px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .classes-sidebar {
      padding-left: 30px; } }
  @media (max-width: 767px) {
    .classes-sidebar {
      padding-left: 20px;
      padding-top: 30px; } }

.classes-registration-btn {
  margin-top: 23px;
  margin-bottom: 20px; }

.classes-speakers-wrapper {
  margin: 30px -15px; }
  @media (max-width: 1199px) {
    .classes-speakers-wrapper {
      margin: 30px 15px; } }

@media (max-width: 767px) {
  .classes-collection-section .no-padding {
    padding-left: 20px;
    padding-right: 20px; } }

.classes-collection-wrapper {
  margin: 30px -15px; }

.class-city:after {
  content: ', '; }

.classes-sidebar p, .classes-sidebar .extend-p {
  margin-bottom: 0px; }
.classes-sidebar h4:last-of-type {
  padding-top: 13px; }

/*# sourceMappingURL=main.css.map */
