a:hover {
  text-decoration: none; }

.bold {
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; }

.underline {
  text-decoration: underline; }

.no-left-padding {
  padding-left: 0px; }

.no-padding {
  padding: 0px; }

.dashed-line, .dashed-line-white, .dashed-line-silver {
  border-bottom-width: 1px;
  border-bottom-style: dotted; }

.dashed-line-white {
  border-bottom-color: #ffffff; }

.dashed-line-silver {
  border-bottom-color: #b0b7bc; }

.section-border {
  border-bottom: 1px solid #d1d3d4; }

/** WP WYSIWYG editor styles **/
img.alignright {
  float: right;
  margin: 0 0 1em 1em; }
  @media (max-width: 767px) {
    img.alignright {
      margin-left: 0px;
      width: 100%;
      height: auto; } }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }
  @media (max-width: 767px) {
    img.alignleft {
      margin-right: 0px;
      width: 100%;
      height: auto; } }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption-text {
  font-size: 1em;
  padding: 5px 3px; }

.alignleft.wp-caption {
  margin-right: 20px; }

.alignright.wp-caption {
  margin-left: 20px; }

@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic/Gotham-BlackItalic.otf") format("opentype"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.woff2") format("woff2"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.woff") format("woff"), url("../fonts/Gotham-BlackItalic/Gotham-BlackItalic.ttf") format("truetype"), url("../fonts/Gotham-BlackItalic/sGotham-BlackItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Black';
  src: url("../fonts/Gotham-Black/Gotham-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Black/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Black/Gotham-Black.otf") format("opentype"), url("../fonts/Gotham-Black/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black/Gotham-Black.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.otf") format("opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/Gotham-Bold.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.otf") format("opentype"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.woff2") format("woff2"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.woff") format("woff"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.ttf") format("truetype"), url("../fonts/Gotham-BoldItalic/Gotham-BoldItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book/Gotham-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book/Gotham-Book.otf") format("opentype"), url("../fonts/Gotham-Book/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/Gotham-Book.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url("./fonts/Gotham-BookItalic/Gotham-BookItalic.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/Gotham-BookItalic/Gotham-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.otf") format("opentype"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.woff2") format("woff2"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.woff") format("woff"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.ttf") format("truetype"), url("../fonts/Gotham-BookItalic/Gotham-BookItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium/Gotham-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium/Gotham-Medium.otf") format("opentype"), url("../fonts/Gotham-Medium/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium/Gotham-Medium.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ScalaSans-Regular';
  src: url("./fonts/ScalaSans-Regular/ScalaSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/ScalaSans-Regular/ScalaSans-Regular.oft") format("opentype"), url("../fonts/ScalaSans-Regular/ScalaSans-Regular.woff2") format("woff2"), url("../fonts/ScalaSans-Regular/ScalaSans-Regular.woff") format("woff"), url("../fonts/ScalaSans-Regular/ScalaSans-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ScalaSans-Bold';
  src: url("./fonts/ScalaSans-Bold/ScalaSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/ScalaSans-Bold/ScalaSans-Bold.oft") format("opentype"), url("../fonts/ScalaSans-Bold/ScalaSans-Bold.woff2") format("woff2"), url("../fonts/ScalaSans-Bold/ScalaSans-Bold.woff") format("woff"), url("../fonts/ScalaSans-Bold/ScalaSans-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ScalaSans-Italic';
  src: url("./fonts/ScalaSans-Italic/ScalaSans-Italic.oft") format("opentype"), url("../fonts/ScalaSans-Italic/ScalaSans-Italic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Gotham-Book", Helvetica, Arial, sans-serif;
  background-color: #f1f1f2;
  padding-left: 25px;
  padding-right: 25px; }

main {
  background-color: #d1d3d4; }

h1 {
  font-size: 4.5em;
  font-family: "ScalaSans-Bold", Helvetica, Arial, sans-serif; }

h2 {
  font-size: 2.0em;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; }

h3 {
  font-size: 1.50em;
  color: #134984;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; }

h4 {
  font-size: 1.25em;
  color: #aa2d3e;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif; }

h5 {
  font-size: 1.25em;
  font-family: "ScalaSans-Bold", Helvetica, Arial, sans-serif; }

h2, h3, h4 {
  text-transform: uppercase; }

p {
  font-size: 1.10em;
  font-family: "ScalaSans-Regular", Helvetica, Arial, sans-serif; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }

blockquote {
  border: none; }

blockquote p {
  font-family: "ScalaSans-Italic", Helvetica, Arial, sans-serif;
  font-size: 2.5em; }

blockquote footer {
  background-color: transparent;
  padding: initial;
  border: none; }

blockquote .small:before, blockquote footer:before, blockquote small:before {
  content: ''; }

.lead {
  font-family: "ScalaSans-Italic", Helvetica, Arial, sans-serif;
  font-size: 2.35em; }

a {
  color: initial; }

/*

.nav-inline-dropdown {
	width: 100vw;
}

.nav-inline-li {
	padding: 30px;
	margin: 30px;
}
*/
.navbar {
  margin-bottom: 0px;
  border-radius: 0px; }

.navbar-default {
  background-color: #ffffff;
  border-color: transparent; }

.nav > li.dropdown.open {
  position: static; }

.nav > li.dropdown.open .dropdown-menu {
  display: table;
  width: 100%;
  text-align: left;
  left: 0;
  right: 0;
  margin-top: 10px;
  background-color: #134984;
  color: #ffffff; }
  @media (max-width: 991px) {
    .nav > li.dropdown.open .dropdown-menu {
      text-align: left; } }
  .nav > li.dropdown.open .dropdown-menu:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    right: 215px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #134984; }

.dropdown-menu > li {
  display: table-cell; }
  @media (max-width: 991px) {
    .dropdown-menu > li {
      display: initial; } }

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; } }

.navbar-default .navbar-nav > .open > a {
  color: #134984;
  background-color: transparent;
  transition: all 0.5s ease-in-out; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #134984; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #134984; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      color: #f1f1f2; } }

.nav-img-container {
  height: 85px;
  overflow: hidden; }
  @media (max-width: 991px) {
    .nav-img-container {
      float: left;
      width: 100px;
      height: 100px;
      overflow: hidden; } }

.nav-img {
  width: 100%;
  height: auto; }
  @media (max-width: 991px) {
    .nav-img {
      height: 100%;
      width: initial; } }

.nav-class-title {
  white-space: pre-wrap;
  text-transform: uppercase;
  color: #ffffff; }

.nav-address-container p {
  margin-bottom: 0px; }

.nav-map {
  display: block;
  color: #ffffff;
  transition: all 0.5s ease-in-out; }
  .nav-map:hover, .nav-map:active, .nav-map:focus {
    color: #f1f1f2; }

.nav-text-container {
  padding: 10px 20px 0px;
  margin-bottom: 2.0em; }
  @media (max-width: 991px) {
    .nav-text-container {
      float: left;
      margin-left: 1.5em;
      margin-bottom: 2.0em; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .nav-text-container {
      width: 70%; } }
  @media (max-width: 767px) {
    .nav-text-container {
      width: 50%; } }

.nav-details-btn {
  margin: 10px 0px;
  display: block;
  padding: 6px 12px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.5s ease-in-out; }
  .nav-details-btn:link {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff; }
  .nav-details-btn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    fill: #134984;
    text-decoration: none; }
  .nav-details-btn:hover svg {
    fill: #134984;
    left: 5px; }
  .nav-details-btn:active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    box-shadow: none; }
  .nav-details-btn:active svg {
    fill: #134984;
    left: 5px; }
  .nav-details-btn:focus, .nav-details-btn:active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    outline: 5px auto #ffffff; }
  .nav-details-btn:focus, .nav-details-btn:active:focus svg {
    fill: #134984;
    left: 5px; }
  .nav-details-btn:visited {
    background-color: #ffffff;
    border-color: #ffffff; }
  @media (max-width: 991px) {
    .nav-details-btn {
      display: inline-block !important; } }

.nav-register-btn {
  margin: 10px 0px;
  display: block;
  padding: 6px 12px;
  text-transform: uppercase;
  text-align: center;
  color: #134984;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  /*
  	&:visited {
  		background-color: $color_1;
  		border-color: $color_1;
  		color: $color_2;
  	}
  */ }
  .nav-register-btn:link {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984; }
  .nav-register-btn:hover {
    background-color: #134984;
    border-color: #ffffff;
    color: #ffffff;
    text-decoration: none; }
  .nav-register-btn:hover svg {
    fill: #134984;
    left: 5px; }
  .nav-register-btn:active {
    background-color: #134984;
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: none; }
  .nav-register-btn:active svg {
    fill: #134984;
    left: 5px; }
  .nav-register-btn:focus, .nav-register-btn:active:focus {
    background-color: #134984;
    border-color: #ffffff;
    color: #ffffff;
    outline: 5px auto #134984; }
  .nav-register-btn:focus, .nav-register-btn:active:focus svg {
    fill: #134984;
    left: 5px; }
  @media (max-width: 991px) {
    .nav-register-btn {
      display: inline-block; } }

.navbar-default .navbar-toggle {
  border-color: transparent;
  transition: all 0.5s ease-in-out; }
  .navbar-default .navbar-toggle:hover {
    background-color: #ffffff; }
    .navbar-default .navbar-toggle:hover .icon-bar {
      background-color: #b0b7bc; }
  .navbar-default .navbar-toggle:focus {
    background-color: #ffffff; }
    .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: #b0b7bc; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #134984; }

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #134984;
    color: #ffffff; } }

footer {
  background-color: #ffffff;
  border-top: 1px solid #f1f1f2;
  padding: 30px 0px; }
  footer img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0px auto 10px; }

.address-block {
  list-style-type: none;
  text-align: center;
  color: #b0b7bc; }

.footer-links {
  text-align: center; }
  .footer-links li {
    display: inline-block;
    padding: 0px 5px; }
    .footer-links li a {
      color: #b0b7bc; }

.modal {
  padding-right: 0px;
  top: 20%;
  left: 0px;
  right: 40px; }

.modal-backdrop {
  background-color: #ffffff; }

.modal-content {
  background-color: #134984;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  margin: 0px; }
  .modal-content h4 {
    color: #ffffff; }
  .modal-content li a {
    color: #ffffff;
    border-bottom: 1px dotted #ffffff;
    font-family: "ScalaSans-Regular", Helvetica, Arial, sans-serif; }

.modal-body {
  padding: 0px 30px 30px; }
  .modal-body h4 {
    margin-top: 30px; }

.modal-header {
  padding: 15px 30px;
  border-bottom: none; }

.modal-title {
  float: left;
  margin-top: 15px; }

.modal-header .close {
  float: right;
  margin-top: -3px;
  margin-right: -15px; }

.close {
  opacity: 0.75; }
  .close:hover {
    opacity: 1.0; }
  .close svg {
    fill: #ffffff;
    height: 25px;
    width: 25px;
    font-size: 30px;
    font-weight: 300; }

.modal-dialog {
  position: absolute;
  right: -5px;
  width: initial;
  margin: 0px 0px 60px 4px; }

.modal-img-container img {
  margin-top: 0px;
  margin-left: 20px; }

.homepage-hero {
  height: 500px;
  background: #134984;
  background-image: url("http://blog.schooloutfitters.com/wp-content/uploads/2014/06/one-room-schoolhouse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .homepage-hero h1 {
    color: #ffffff;
    font-size: 70px; }

.front-video-container {
  background-color: #ffffff;
  height: 100%;
  margin-top: -175px;
  padding-left: 0px; }

.front-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0px;
  height: 0; }

.front-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.front-video-container-right {
  padding: 15px; }

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000; }
  .videoWrapper43 {
    padding-top: 75%; }
  .videoWrapper169 {
    padding-top: 56%; }

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  background-color: #231F20;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  /*
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80px;
      height: 80px;
      margin: -40px 0 0 -40px;
      border: 5px solid $color-button;
      border-radius: 100%;
      -webkit-transition: border-color 300ms;
      -moz-transition: border-color 300ms;
      transition: border-color 300ms;
    }
  */ }
  .videoPoster:after {
    content: 'Watch Course Preview';
    text-transform: uppercase;
    padding: 15px 20px;
    height: 50px;
    background-color: #ffffff;
    font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
    color: #134984; }
  .videoPoster:hover:before, .videoPoster:focus:before {
    border-color: #f00; }
  .videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #f00; }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms; }

.front-class-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0 -1.5%; }

.class-block {
  margin-bottom: 30px;
  width: 30.33%;
  margin: 20px 1.5%; }

.class-top {
  display: block;
  top: 0;
  position: relative;
  box-shadow: 0 5px 0 transparent;
  transition: all 0.5s; }
  .class-top img {
    width: 100%;
    height: auto; }

.class-block-text {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(123, 123, 123, 0.5);
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  padding: 20px; }

.single-class-date, .single-class-title {
  margin: 0px; }

.single-class-title {
  text-transform: uppercase; }

.speaker-list {
  padding-left: 0px; }
  .speaker-list li {
    display: inline-block; }
    .speaker-list li:last-of-type a:before {
      content: ' and ';
      font-family: "ScalaSans-Regular", Helvetica, Arial, sans-serif;
      border-bottom: 1px dotted transparent; }
    .speaker-list li:last-of-type a:after {
      content: '. '; }
    .speaker-list li a {
      font-family: "ScalaSans-Bold", Helvetica, Arial, sans-serif;
      color: #231F20;
      border-bottom: 1px dotted #231F20; }
      .speaker-list li a:after {
        content: ", "; }

.class-description {
  display: inline; }

.class-description-container {
  background-color: #ffffff;
  padding: 20px; }

.front-btn-container {
  display: flex;
  justify-content: space-between; }

.front-btn {
  width: 45%;
  margin: 10px 0px;
  display: inline-block;
  padding: 6px 12px;
  text-transform: uppercase;
  text-align: center;
  color: #134984;
  border: 2px solid #134984;
  transition: all 0.5s ease-in-out; }
  .front-btn:link {
    background-color: transparent;
    border-color: #134984;
    color: #134984; }
  .front-btn:hover {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .front-btn:hover svg {
    fill: #ffffff;
    left: 5px; }
  .front-btn:active {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    box-shadow: none; }
  .front-btn:active svg {
    fill: #ffffff;
    left: 5px; }
  .front-btn:focus, .front-btn:active:focus {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    outline: 5px auto #134984; }
  .front-btn:focus, .front-btn:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  .front-btn:visited {
    background-color: #134984;
    border-color: #134984; }

.mlk-section {
  padding-bottom: 0px; }

.mlk-img-container {
  position: relative; }

.mlk-img {
  width: 100%;
  height: auto; }

.mlk-quote {
  display: flex;
  width: 50%;
  position: absolute;
  top: 0px;
  left: 100px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff; }
  .mlk-quote p {
    padding-top: 90px; }

.sponsor-section {
  background-color: #ffffff; }

.sponsor-heading {
  text-align: center; }

.sponsor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0 -1.5%; }

.sponsor-block {
  margin-bottom: 30px;
  width: 22%;
  margin: 20px 1.5%; }
  .sponsor-block img {
    width: 100%;
    height: auto; }

.speakers-hero {
  height: 350px;
  background: #134984;
  background-image: url("http://blog.schooloutfitters.com/wp-content/uploads/2014/06/one-room-schoolhouse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .speakers-hero h1 {
    color: #ffffff;
    font-size: 70px; }
  .speakers-hero h4 {
    color: #ffffff; }

.speaker-section {
  padding-top: 40px; }

.speaker-block {
  margin-bottom: 30px;
  position: relative; }

.moderator:after {
  content: 'moderator';
  position: absolute;
  top: 0px;
  left: 35px;
  background-color: #aa2d3e;
  color: #ffffff;
  padding: 3px 12px;
  text-transform: uppercase;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  font-size: 1em; }

.speaker-img {
  width: 100%;
  height: auto; }

.speaker-block-text {
  display: flex;
  position: absolute;
  top: 0px;
  width: 90.5%;
  left: 15px;
  height: 100%;
  background-color: rgba(123, 123, 123, 0.5);
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff; }
  .speaker-block-text h5 {
    margin-left: 20px; }
  .speaker-block-text p {
    margin: 0px 0px 5px 20px; }
    .speaker-block-text p:last-of-type {
      margin-bottom: 15px; }

button[data-toggle="modal"] {
  text-align: left;
  background-color: transparent;
  padding: 0px;
  border: none; }

.about-page {
  background-color: #ffffff; }

.about-video-slider-container {
  background-color: #d1d3d4;
  padding-top: 60px; }

.about-video-slider-wrapper {
  display: flex; }
  .about-video-slider-wrapper .slick-slider {
    margin-bottom: -6px; }

.about-video-slider .slick-dots {
  position: absolute;
  bottom: 8px;
  right: -73px;
  display: block;
  width: initial;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 300; }
  .about-video-slider .slick-dots li {
    margin: 0px; }
.about-video-slider .slick-dots li button:before {
  font-size: 12px;
  color: #b0b7bc;
  opacity: 0.75; }
.about-video-slider .slick-dots li.slick-active button:before {
  color: #aa2d3e;
  opacity: 1.0; }

.about-video-container-right {
  padding: 15px;
  background-color: #ffffff; }

.resources-section {
  padding-top: 60px; }

.resources-block {
  background-color: #d1d3d4;
  padding: 30px;
  margin-bottom: 15px;
  overflow: auto;
  display: flex; }
  .resources-block p {
    margin-top: 5px; }

.resources-block-quiz {
  background-color: #134984;
  color: #ffffff;
  padding: 30px;
  margin-bottom: 15px;
  overflow: auto;
  display: flex; }
  .resources-block-quiz p {
    margin-top: 5px; }

.resources-quiz-download-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.5s ease-in-out;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  padding: 10px 25px;
  text-transform: uppercase; }
  .resources-quiz-download-btn:link {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff; }
  .resources-quiz-download-btn:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    fill: #134984;
    text-decoration: none; }
  .resources-quiz-download-btn:hover svg {
    fill: #134984;
    left: 5px; }
  .resources-quiz-download-btn:active {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    box-shadow: none; }
  .resources-quiz-download-btn:active svg {
    fill: #134984;
    left: 5px; }
  .resources-quiz-download-btn:focus, .resources-quiz-download-btn:active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #134984;
    outline: 5px auto #ffffff; }
  .resources-quiz-download-btn:focus, .resources-quiz-download-btn:active:focus svg {
    fill: #134984;
    left: 5px; }
  .resources-quiz-download-btn:visited {
    background-color: #ffffff;
    border-color: #ffffff; }

.resources-description {
  padding-bottom: 20px; }

.resources-title {
  font-size: 1.5em;
  padding-right: 10px;
  display: inline; }

.resources-download-btn-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.resources-download-btn {
  color: #134984;
  border: 2px solid #134984;
  transition: all 0.5s ease-in-out;
  font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
  padding: 10px 25px;
  text-transform: uppercase; }
  .resources-download-btn:link {
    background-color: transparent;
    border-color: #134984;
    color: #134984; }
  .resources-download-btn:hover {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    fill: #ffffff;
    text-decoration: none; }
  .resources-download-btn:hover svg {
    fill: #ffffff;
    left: 5px; }
  .resources-download-btn:active {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    box-shadow: none; }
  .resources-download-btn:active svg {
    fill: #ffffff;
    left: 5px; }
  .resources-download-btn:focus, .resources-download-btn:active:focus {
    background-color: #134984;
    border-color: #134984;
    color: #ffffff;
    outline: 5px auto #134984; }
  .resources-download-btn:focus, .resources-download-btn:active:focus svg {
    fill: #ffffff;
    left: 5px; }
  .resources-download-btn:visited {
    background-color: #134984;
    border-color: #134984; }

.useful {
  text-decoration: underline;
  padding-right: 10px; }

.file-type {
  display: inline;
  font-size: 1.10em; }

.classes-page {
  background-color: #ffffff; }

.classes-subnav {
  background-color: rgba(15, 15, 15, 0.85);
  padding: 10px 0px 10px 80px;
  position: fixed;
  width: calc(100% - 50px);
  z-index: 9999; }
  .classes-subnav li {
    display: inline-block;
    padding: 0px 20px; }
    .classes-subnav li a {
      color: #ffffff;
      opacity: 0.5;
      transition: all 0.5s ease-in-out; }
      .classes-subnav li a:hover, .classes-subnav li a:active, .classes-subnav li a:focus {
        opacity: 1.0; }
      .classes-subnav li a:visited {
        opacity: 0.5;
        color: #ffffff; }

.no-top-padding {
  padding-top: 0px; }

.affix {
  top: 0px; }

.classes-speaker-section {
  padding-top: 60px; }
  .classes-speaker-section h3 {
    margin-bottom: 30px; }

.classes-collection-wrapper {
  margin: 30px -15px;
  /*
  	margin-left: -15px;
  	margin-right: -15px;
  */ }

/*# sourceMappingURL=main.css.map */
